.jp-GitLab-tablogo {
  background-size: 100%;
  width: var(--jp-private-sidebar-tab-width);
  height: var(--jp-private-sidebar-tab-width);
  background-image: url(gitlab_logo_120.png);
}

.jp-GitLabBrowser {
  background-color: var(--jp-layout-color1);
  height: 100%;
}

.jp-GitLabBrowser .jp-FileBrowser {
  flex-grow: 1;
  height: 100%;
}

.jp-GitLabBrowser .jp-GitLabEditableName {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: large;
  padding: 0px;
  flex: 8 8;
}

.jp-GitLabBrowser .jp-GitLabEditableName-display {
  border: 1px solid transparent;
}

.jp-GitLabBrowser .jp-GitLabEditableName-display:hover {
  border: 1px solid var(--jp-border-color1);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.24);
}

.jp-GitLabBrowser .jp-GitLabEditableName-input {
  background-color: var(--jp-layout-color2);
  color: var(--jp-ui-font-color1);
  font-size: large;
  text-align: center;
  width: 100%;
}

.jp-GitLabBrowser .jp-Toolbar-button.jp-RefreshIcon {
  display: none;
}

.jp-GitLabBrowser .jp-Toolbar-button.jp-AddIcon {
  display: none;
}

.jp-GitLabBrowser .jp-Toolbar-button.jp-newFolderIcon {
  display: none;
}

.jp-GitLabBrowser .jp-Toolbar-button.jp-id-upload {
  display: none;
}

.jp-GitLabBrowser .jp-DirListing-headerItem.jp-id-modified {
  display: none;
}

.jp-GitLabBrowser .jp-DirListing-itemModified {
  display: none;
}

.jp-GitLabErrorPanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--jp-layout-color2);
}

.jp-GitLabErrorImage {
  background-size: 100%;
  width: 200px;
  height: 165px;
  background-image: url(gitlab_logo_800.png);
}

.jp-GitLabErrorText {
  font-size: var(--jp-ui-font-size3);
  color: var(--jp-ui-font-color1);
  text-align: center;
  padding: 12px;
}

.jp-GitLabBrowser .jp-MyBinderButton {
  flex: 1 1;
  background-image: url(binder.svg);
}

.jp-GitLabBrowser .jp-MyBinderButton-disabled {
  opacity: 0.3;
}


.jp-GitLabBrowser .jp-GitLabIcon {
  flex: 1 1;
  background-image: url(gitlab_logo_120.png);
}
